.NavbarDiv1{
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    position:"fixed";
    width:"100%";
    background-color: white;
    z-index: 7;
}
.UL1{
    list-style-type: none;
    display: flex;
    margin-left: 376px;
    gap: 75px;
    margin-top: -28px;
}
.LI1{
    text-transform: capitalize;
    width: 28px;
    height: 28px;
}
.NavLinkNavbar{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.LogoNavbar{
    width: 185px;
    height: 41px;
    margin-left: 55px;
    margin-top: 30px;
    text-transform: capitalize;
}
.UserIconNavbar1{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 158px;
    margin-top: 36px;
}
.UserIconNavbar2{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 35px;
    margin-top: 36px;
}
.UserIconNavbar3{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 35px;
    margin-top: 36px;
}
.UserIconNavbar4{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 35px;
    margin-top: 36px;
}
.active{
    color:#B88E2F;
}
.DIVNAVBAR{
    display: flex;
    margin-left: 35px;
    margin-top: 36px;
}